body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: white;
}

h1{
    background-clip: text;
}


.container{
    height: 100%;
    display: flex;
}


#menu{
    display: flex;
    flex-direction: column;
    background-color: darkseagreen;
    padding: 50px;
    width: 70px;
    border: 2px solid black;
    position: absolute;
}

#menu *{
    margin-bottom: 6px;
}

#menu label{
    font-size: 12px;
}

#menu input{
    width: 100%;
}

#menu button{
    background-color:blue;
    border: none;
    border-radius: 4px;
    padding: 2px;
    color: white;
}





