body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: white;
}

h1 {
    background-clip: text;
    font-family: 'Lobster', cursive;
    font-size: 35px;
}

.container {
    height: 100%;
    display: flex;
}

#menu {
    display: flex;
    flex-direction: column;
    background-color: darkseagreen;
    padding: 50px;
    width: 100px;
    border: 2px solid DarkSlateGrey;
    position: absolute;
}

#menu * {
    margin-bottom: 8px;
}

#menu label {
    font-size: 12px;
}

#menu input {
    width: 100%;
}

#clear{
    background-color: darkred;
    border: none;
    border-radius: 4px;
    padding: 4px;
    color: white;
}

#save {
    background-color: darkblue;
    border: none;
    border-radius: 4px;
    padding: 4px;
    color: white;
}

#load {
    background-color: darkolivegreen;
    border: none;
    border-radius: 4px;
    padding: 4px;
    color: white;
}

#reset {
    background-color: darkorange;
    border: none;
    border-radius: 4px;
    padding: 4px;
    color: white;
}

#clear:hover{
    text-shadow: 2px 2px black;
    background-color: red;
}

#save:hover{
    text-shadow: 2px 2px black;
    background-color: blue;
}

#load:hover{
    text-shadow: 2px 2px black;
    background-color: olive;
}

#reset:hover{
    text-shadow: 2px 2px black;
    background-color: orange;
}
